* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
body {
  background: rgb(72, 71, 71);
  color: white;
}
.container {
  width: 80%;
  margin: 0 auto;
}
  
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.hero1 {
width: 200px;
height: 200px;
background: red;
border: none;
border-radius: 50%;
cursor: pointer;
}
.hero1:hover {
  color: gold;
text-transform: uppercase;

}
.hero2 {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  margin-top: 20px;
}

.hero3 {
  width: 200px;
height: 200px;
background: rgb(57, 192, 241);
border: none;
border-radius: 50%;
cursor: pointer;
}
.hero3:hover {
  color: palegreen;
text-transform: uppercase;

}
.hero4 {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  margin-top: 20px;
}